<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="ori_num" class="control-label">原始样本编号</label>
            <input type="text" id="ori_num" v-model="createForm.ori_num" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="py_num" class="control-label">谱元编号</label>
            <input type="text" id="py_num" v-model="createForm.py_num" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="client_id" class="control-label">客户</label>
            <input type="text" id="client_id" v-model="createForm.client_id" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="amount" class="control-label">样品量</label>
            <input type="text" id="amount" v-model="createForm.amount" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="split_type" class="control-label">分装类型</label>
            <select v-model="createForm.split_type" id="split_type" class="form-control">
                  <option value="1">poop</option>
                  <option value="2">blood</option>
                  <option value="3">Jack</option>
                </select>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="sampling_time" class="control-label">样品类型</label>
            <input type="date" id="sampling_time" v-model="createForm.sampling_time" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="split_time" class="control-label">分装时间</label>
            <input type="date" id="split_time" v-model="createForm.split_time" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="due_time" class="control-label">截止日期</label>
            <input type="date" id="due_time" v-model="createForm.due_time" class="form-control">
        </div>
    </div>

</div>
