<div role="application" class="wizard clearfix" id="steps-uid-0">
    <div class="steps clearfix">
        <ul role="tablist">
            <li role="tab" class="first current" aria-disabled="false" aria-selected="true"><a id="steps-uid-0-t-0" href="#steps-uid-0-h-0" aria-controls="steps-uid-0-p-0"><span class="current-info audible">current step: </span><span class="number">1.</span> Account</a></li>
            <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-0-t-1" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1"><span class="number">2.</span> Profile</a></li>
            <li role="tab" class="disabled" aria-disabled="true"><a id="steps-uid-0-t-2" href="#steps-uid-0-h-2" aria-controls="steps-uid-0-p-2"><span class="number">3.</span> Hints</a></li>
            <li role="tab" class="disabled last" aria-disabled="true"><a id="steps-uid-0-t-3" href="#steps-uid-0-h-3" aria-controls="steps-uid-0-p-3"><span class="number">4.</span> Finish</a></li>
        </ul>
    </div>
    <div class="content clearfix">
        <h3 id="steps-uid-0-h-0" tabindex="-1" class="title current">Account</h3>
        <section id="steps-uid-0-p-0" role="tabpanel" aria-labelledby="steps-uid-0-h-0" class="body current" aria-hidden="false">
            <div class="form-group clearfix">
                <label class="col-lg-2 control-label " for="userName">User name *</label>
                <div class="col-lg-10">
                    <input class="form-control required" id="userName" name="userName" type="text">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-lg-2 control-label " for="password"> Password *</label>
                <div class="col-lg-10">
                    <input id="password" name="password" type="text" class="required form-control">

                </div>
            </div>

            <div class="form-group clearfix">
                <label class="col-lg-2 control-label " for="confirm">Confirm Password *</label>
                <div class="col-lg-10">
                    <input id="confirm" name="confirm" type="text" class="required form-control">
                </div>
            </div>

        </section>

    <div class="actions clearfix">
        <ul role="menu" aria-label="Pagination">
            <li class="disabled" aria-disabled="true"><a href="#previous" role="menuitem">Previous</a></li>
            <li aria-hidden="false" aria-disabled="false"><a href="#next" role="menuitem">Next</a></li>
            <li aria-hidden="true" style="display: none;"><a href="#finish" role="menuitem">Finish</a></li>
        </ul>
    </div>
</div>
